[BUILD]
allowedSpecies = Mouse Human
biomartNameForSpecies = Mouse:mmusculus_gene_ensembl Human:hsapiens_gene_ensembl

[RUN]
defaultMapqForUniqueMapping = 255
defaultFeatureJunctionOverlapThreshold = 0.5
defaultMaxNFeaturesInTranscript = 0
defaultOnlyUseLongestAnnotatedTranscript = True
defaultSkipTranscriptsWithRedundantFeatureAnnotation = True
defaultIncludeAllJunctionsInOutput = True

[REPORT]
defaultGenerateReport = True
defaultRankResultsBy = frequency
defaultPointColorInPlot = black
defaultFeatureCountsPrimaryAlignmentOnly = True