[BUILD]
allowedSpecies = mouse human
biomartNameForSpecies = mouse:mmusculus_gene_ensembl human:hsapiens_gene_ensembl
defaultBiomartMirror = http://asia.ensembl.org

[RUN]
defaultMapqForUniqueMapping = 255
defaultFeatureJunctionOverlapThreshold = 0.5
defaultMaxNFeaturesInTranscript = 0
defaultOnlyUseLongestAnnotatedTranscript = True
defaultSkipTranscriptsWithRedundantFeatureAnnotation = True
defaultIncludeAllJunctionsInOutput = True
defaultPairedEndReads = True

[REPORT]
defaultGenerateReport = False
defaultSaveNormalizedGeneCounts = True
defaultDrawJunctionsMinCount = 2
defaultRankResultsBy = frequency
defaultPointColorInPlot = black
defaultPointShapeInPlot = circle
defaultFeatureCountsPrimaryAlignmentOnly = True

[FILTER]
defaultFilterBamFiles = False
defaultUniqueMappingOnly = False

[QUANT]
defaultAssignReferenceGene = True
