[RUN]
name = "Descriptive title including dataset name"
feature = "transmembrane region"
maxNFeaturesInTranscript = 1
species = "human"
genome = "/path_to_reference_genome/gencode.v38.primary_assembly.annotation.gtf"
input = "path_to_indexed_bam_files_directory"
bamEnding = "_Aligned.sortedByCoord.out.bam"
pairedEndReads = True
output = "/path_to_output_directory"
threads = 12

[FILTER]
minTotalOccurrencesAcrossAllSamples = 1
minOccurrencesInSample = 1
inAtLeastNSamples = 1

[QUANT]
readLength = 75

[REPORT]
maxPlotted = 50

[SAMPLES]
group_x = "SRR1000001", "SRR1000002", "SRR1000003"
group_y = "SRR1000004", "SRR1000005", "SRR1000006"

[COLORS]
group_x = "red"
group_y = "#0000FF"
