[BUILD]
email = your@email.address

[DEFAULT RUN]
threads = 12
mapqForUniqueMapping = 255

[DEFAULT FILTER]
samtoolsExecutable = "/path_to_samtools_directory/samtools"

[DEFAULT QUANT]
stringtieExecutablePath = "/path_to_stringtie_directory/stringtie"
prepDEScriptPath = "/path_to_stringtie_directory/prepDE.py3"

[DEFAULT REPORT]
featureCountsExecutable = "/path_to_feature_counts_directory/featureCounts"
