.results-table-section {
    box-sizing: border-box;
    max-width: 100%;
    height: calc(100vh - 2 * var(--body-padding-size));
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 20px;
}

.results-table-container {
    flex: 1;
    overflow: scroll;
    position: relative;  /* enables z-index */
}

.results-table-container::-webkit-scrollbar-track, .results-table-container::-webkit-scrollbar-thumb {
    z-index: 10;
}

.results-table {
    display: block;
    table-layout: auto;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

.results-table tr > * {
    margin: 0;
    padding: 0.5rem;
}

.results-table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);
    border-top: 1px solid grey;
}

.results-table .gene-name-column {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: var(--background-color);
    border-left: 1px solid grey;
}

.results-table th.gene-name-column {
    z-index: 3;
}

.results-table :is(th, .gene-name-column) {
    background-color: #eeeeee;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.results-table :not(th, .gene-name-column) {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.results-table-section h1 {
    font-size: 3rem;
}

.results-table-section {
    font-size: 1.2rem;
}
