<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FASE Report - {run_name}</title>
    {style}
</head>
<body>
<!--    <div class="view-container">-->
    <div id="toc">
        <h2>Contents</h2>
        <ul>
            {toc_html}
        </ul>
    </div>

    <div id="content">
        {sections_html}
    </div>
<!--    </div>-->
</body>
</html>